<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 metadata-complete="false" version="3.1">
	<distributable />
	<display-name>dreamer</display-name>
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>*.jpg</url-pattern>-->
        <!--<url-pattern>*.png</url-pattern>-->
	<!--</servlet-mapping>-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/**-config.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<session-config>
		<session-timeout>30</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
		<tracking-mode>URL</tracking-mode>
	</session-config>
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvc-config.xml,classpath*:META-INF/spring/mvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
		<multipart-config>
			<max-file-size>2048000</max-file-size>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>hibernateSession</filter-name>
		<filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>hibernateSession</filter-name>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.json</url-pattern>
		<url-pattern>/</url-pattern>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>loginFilter</param-value>
		</init-param>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>dmz</param-name>
			<param-value>/dmz/</param-value>
		</init-param>

	</filter>
	<!--<filter-mapping>-->
	<!--<filter-name>autoLoginFilter</filter-name>-->
	<!--<url-pattern>/dmz/vmall/*</url-pattern>-->
	<!--<url-pattern>/dmz/pmall/*</url-pattern>&lt;!&ndash;积分商城自动登陆&ndash;&gt;-->
	<!--<url-pattern>/vmall/*</url-pattern>-->
	<!--<dispatcher>FORWARD</dispatcher>-->
	<!--<dispatcher>INCLUDE</dispatcher>-->
	<!--<dispatcher>REQUEST</dispatcher>-->
	<!--<dispatcher>ASYNC</dispatcher>-->
	<!--</filter-mapping>-->
	<!--<filter-mapping>-->
	<!--<filter-name>autoLoginFilter</filter-name>-->
	<!--<url-pattern>*.html</url-pattern>-->
	<!--<url-pattern>*.json</url-pattern>-->
	<!--<url-pattern>/</url-pattern>-->
	<!--<dispatcher>FORWARD</dispatcher>-->
	<!--<dispatcher>INCLUDE</dispatcher>-->
	<!--<dispatcher>REQUEST</dispatcher>-->
	<!--<dispatcher>ASYNC</dispatcher>-->
	<!--</filter-mapping>-->
	<!--<filter>-->
	<!--<filter-name>loginFilter</filter-name>-->
	<!--<filter-class>com.dreamer.view.filter.LoginFilter</filter-class>-->
	<!--<async-supported>true</async-supported>-->
	<!--<init-param>-->
	<!--<param-name>debug</param-name>-->
	<!--<param-value>0</param-value>-->
	<!--</init-param>-->
	<!--<init-param>-->
	<!--<param-name>dmz</param-name>-->
	<!--<param-value>/dmz/</param-value>-->
	<!--</init-param>-->
	<!--</filter>-->
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.json</url-pattern>
		<url-pattern>/</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>etagFilter</filter-name>
		<filter-class>org.springframework.web.filter.ShallowEtagHeaderFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>etagFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
